{% extends "base.html" %}


{% block header %}
    Your expenses
{% endblock %}


{% block content %}

    <p class="pull-right">
        <a class="btn btn-block btn-primary" href="{% url "add" %}">Add</a>
    </p>


    <table class="table table-condensed table-hover table-bordered">
        <tr>
            <th>Date and Time</th>
            <th>Amount</th>
            <th>Details</th>
        </tr>
        {% for expense in object_list %}
            <tr>
                <td>{{ expense.timestamp }}</td>
                <td>$ {{ expense.amount }}</td>
                <td>{{ expense.details }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        Total: {{ view.total }}
    </p>


{% endblock %}

